/*index start*/
.ps{
	width: 100%;
	background: black;
}
.ps .container .icon{
	height: 22px;
	font-size: 11px;
	font-family: open sans,Arial,sans-serif;
	color: white;	
}
.navbar-brand{
	font-family: open sans,Arial,sans-serif;
	font-weight: 800;
}
.navbar .collapse{
	position: absolute;
	left: 55%;

}
.navbar .collapse a{
	font-size:11px;
	font-weight: 300;
	font-family: open sans,Arial,sans-serif;
	text-transform: uppercase;
	color: black;
	font-style:normal;
	font-variant:normal;
	margin-left: 23px;
}
.page-home{
	overflow: hidden;
	position: relative;
}
.page-home .left{
	width: 130%;
	z-index: 1;

}
.page-home .left .text{
	position: absolute;
	top: 12%;
	left: 16%;
	width: 80%;
}
.page-home .left .underlined{
	margin-left: -40px;
	width: 103px;
	height: 2px;
}
.page-home .left .text span{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 4px;
	font-weight: 200;
}
.page-home .left .text h1{
	 font-size: 46px;
    font-weight: 300;
}
.page-home .left .text .vr{
	position: absolute;
	margin-top: 26%;
	margin-left: -27%;

	transform: rotate(270deg);
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 4px;
	font-weight: 200;
}
.image{
	position: relative;
	z-index: -1;
	width: 130%;
	height: 590px;
}
.image img{
	width: 100%;
	height: 100%;
}
.page-bestter{
	padding-bottom: 130px;
	background: #ededed;
	position: relative;
}
.page-bestter .video{
	overflow: hidden;
	height: 790px;
}
.page-bestter .video img{
	width: 100%;
	height: 100%;
}
.page-bestter .video i{
	position: absolute;
	top: 40%;
	font-size: 120px;
	color: black;
	background: orange;
	left: 40%;
	border-radius: 50%;
}
.page-bestter .text h1{
    padding-top: 13%;
}
.page-bestter .item{
	font-size: 51px;
}
.page-bestter .item i{
	text-align: center;
	float: left;
}
.page-bestter .item .square{
	width: 36px;
    height: 42px;
    border: 1px solid black;
    margin: auto;
}
.page-bestter .item p{
	font-size: 16px;
}
.page-sellers{
	padding-bottom: 177px;
	position: relative;
	background: #ededed;
}
.page-sellers .title{
	
}
.page-sellers .card-row{
	margin-top: 22px;
}
.page-sellers .card{
	width: 100%;
	height: 476px;
	border-radius:0px;
}
.page-sellers .card .img{
	height: 77%;
	overflow: hidden;
}
.page-sellers .card img{
	width: 100%;
	transform: scale(1);
	height: 100%;
}
.page-sellers .card .card-body{
	height: 23%;
}
.page-sellers .card .card-body h6{
	font-weight: 300;
	width: 75%;
}
.page-sellers .card .card-body i{
	padding-left: 5%;
	color: orange;
	font-size: 11px;
}
.page-sellers  .hover{
	position: relative;
	opacity: 0;
	top: -100%;
	height: 77%;
	background: blue;
}
.page-sellers .card-row:hover .hover{ 
	transition: 0.3s;
	opacity: 0.2;
}
.page-sellers .card-row:hover img{
	transform: scale(1.2);
	transition: 0.4s;

}
.page-clothing{
	position: relative;
	overflow: hidden;
}
.page-clothing .row-top .image{
	background:#c4c4c4;
	height: 483px;
}
.page-clothing .row-top .image img{
	transform: scale(0.3,1);
}
.page-clothing .row-top .text{
	position: relative;
	left: -36%;
	top: 20%;
	width: 100%;
}
.page-clothing .row-top .text h3{
	line-height:48px;
	vertical-align:baseline;
	letter-spacing:1px;
	font-weight: 300;
}
.page-clothing  .text button{
	width: 120px;
	height: 55px;
	border-radius: 30px;
	background: orange;
}
.page-clothing .row-top .text p{
	width: 150%;
}

.page-clothing .row-bottom .text h3{
    width: 71%;
    font-weight: 300;
    padding-top: 14%;
}
.page-clothing .row-bottom .image{
	margin-top: -16%;
    height: 591px;
}
.page-clothing .row-bottom .image img{
	border: 10px solid white;
}
.page-products{
	background: #ededed;
	position: relative;	
	padding-bottom: 117px;
}
.page-products .text{
	padding-top: 118px;
}
.page-products .card-row{
	margin-top: 22px;
}
.page-products .card{
	width: 100%;
	height: 476px;
	border-radius:0px;
}
.page-products .card .img{
	height: 77%;
	overflow: hidden;
}
.page-products .card img{
	width: 100%;
	transform: scale(1);
	height: 100%;
}
.page-products .card .card-body{
	height: 23%;
}
.page-products .card .card-body h6{
	font-weight: 300;
	width: 75%;
}
.page-products .card .card-body i{
	padding-left: 5%;
	color: orange;
	font-size: 11px;
}
.page-products  .hover{
	position: relative;
	opacity: 0;
	top: -100%;
	height: 77%;
}
.page-products .card-row:hover .hover{ 
	transition: 0.3s;
	opacity: 0.2;
}
.page-products .card-row:hover img{
	transform: scale(1.2);
	transition: 0.4s;
}
.page-banner{
	background-image: url(thumuchinhanh/anhbanner.jpg);
	background-size: cover;
	background-position: bottom;
	position: relative;
}
.page-banner .row{
	padding-bottom: 124px;
    padding-top: 140px;
}
.page-banner .row h2{
	font-weight: 400;
}
.page-banner .row p{
	text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}
.page-customer_says{
	position: relative;
	padding-bottom: 140px;
}
.page-customer_says .text{
	padding-top: 140px;
	margin: 0 auto;
}
.page-customer_says  .item{
	position: relative;
	height: 380px;
}
.page-customer_says  .item .header{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: blue;
	overflow: hidden;
}
.page-customer_says  .item .header img{
	width: 100%;
	height: 100%;
	transform: scale(1.4,1);
}
.page-customer_says  .item  .icon{
	top: 20%;
    left: 16%;
    position: absolute;
    width: 35px;
    background: white;
    height: 35px;
    border-radius: 50%;
    color: orange;
}
.page-customer_says .row{
	margin-top: 90px;	
}
.page-customer_says .row .body{
	margin-top: 51px;
	border-left: 0.3px solid black;
}
.page-customer_says .row .body p{
	width: 85%;

}
.page-customer_says .row  .footer{
	padding-top: 29px;
}
.page-customer_says .row  .footer p{
	font-weight: 500;
    margin-bottom: 2px;
}
.page-customer_says .row  .footer span{
	letter-spacing: 2px;
}
.page-customer_says .dot-click{
	margin-top: 64px;
}
.page-customer_says .dot-click {
	font-size: 10px;
	    padding-left: 46%;
	color: orange;
}
.page-footer{
	background: #ededed;
	border-top: 1px solid gray;
	padding-bottom: 120px;
}
.page-footer .title{
	position: relative;
	margin-top: 80px;
    text-align: center;
}
.page-footer .title input{
	border-radius:0px;
	border: 1px solid black;
	margin-top: 40px;
    height: 52px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 13px;
}

.page-footer .title .submit a{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 14px;
	color: white;
}
.page-footer .footer{
	margin-top: 65px;
}
.page-footer .row .item{
	padding-top: 100px;
}
.page-footer .row .item .header h6{
font-weight: 400;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.page-footer .row .item .body p{
	font-size: 15px;
	width: 80%;
}
.page-footer .row .item .body li{
	width: 80%;
}
.page-footer .row .item .body a{
	color: black;
}
.page-footer .row .item  .icon{
    padding-top: 40px;

}
.page-footer .row .item  .icon i{
	font-size: 24px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: white;
    font-size: 22px;
        padding-left: 4%;
    padding-top: 4%;
}
.page-footer .slogan{
	    margin-top: 80px;
}
/*endindex*/
/*bat dau page about*/
/*su dung lai cac thanh phan  da co*/
.page-sidebar{
	position: relative;
	background: url(thumuchinhanh/banner.jpg);
	background-size: cover;
	background-position: top;
	height: 370px;
}
.page-sidebar img{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
}
.page-sidebar .text{
	position: absolute;
	left: 45%;
	z-index: 1;
	text-transform: uppercase;
	color: black;
	padding-top: 150px;
}
.page-sidebar .text h6{
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 3px;
}
.page-sidebar .text h2{
	letter-spacing:3px;
}
/*ket thuc page about*/
/*bat dau page blog*/
.page-body{
	padding-bottom: 150px;
}
.page-body .container{
	margin-top: 57px;
}
.page-body .container .blogs{
	margin-top: 57px;
	overflow: hidden;
}
.page-body .container .blogs .image{
	height: 248px;
	width: 100%;
}
.page-body .container .blogs img{
	width: 100%;
	height: 100%;
}
.page-body .container .blogs .text span{
	font-size: 13px;
    letter-spacing: 4px;
    font-weight: 300;
}
.page-body .container .blogs .text h5{
    font-weight: 500;
}
.page-body .container .blogs .text p{
	font-size: 15px;
}
.page-body .container .blogs .text button{
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background: orange;
 }
 .page-body .container .sidebar{
 	margin-top: 57px;
 	padding-left: 20px;
 }
 .page-body .container .sidebar input{
 	height: 50px;
 	color: black;
 }
  .page-body .container .sidebar  h5{
 	font-weight: 500;
 }
 .page-body .container .sidebar button{
 	margin-top: 5px;
 	background: none;
 	border: 1px solid black;
 }
 /*ket thuc page blog*/
 /*bat dau page contact*/
 .page-contact{
 	background: #ededed;
 	 	padding-bottom: 150px;
 }
 .page-contact .address{
 	padding-top: 200px;
 }
 .page-contact .address .item{
 	height: 143px;
 	background: white;
 }
 .page-contact .address .item p{
 	padding-top: 30px;
    padding-left: 30px;
    padding-right: 26px;
 }
 .page-contact .map{
 	margin-top: 55px;
 }
 .page-contact .map #map{
 	height: 560px;
 }
 .page-contact .map #map iframe{
 	width: 100%;
 	height: 100%;
 }
 .page-contact .map .form-user{
 	    height: 560px;
 	background: white;
 }
 .page-contact .map .form-user input{
 	height: 30px;
 	height: 54px;
 	border-radius: 0;
 }
 .page-contact .map .form-user textarea{
 	height: 170px;
 }
 .page-contact  button{
 	height: 55px;
 	background: orange;
 	border-right: 30px;
 }
 /*page-addshop*/
 .page-product{
 	padding-bottom: 160px;
 	position: relative;
 }
 .page-product .container{
 	margin-top: 140px;
 }
 .page-product .container h4{
 	font-weight: 300;
 }
 .page-product .container .category ul li{
 	list-style-type: none;
 	margin-left:-40px;
 	padding-top: 10px;
 }
  .page-product .container .category ul li a{
  	padding-top: 5px;
  	color: black;
    font-size: 12px;
}
.page-product .card{
	width: 100%;
	height: 500px;
	border-radius:0px;
}
.page-product .card .img{
	height: 77%;
	overflow: hidden;
}
.page-product .card img{
	width: 100%;
	transform: scale(1);
	height: 100%;
}
.page-product .card .card-body{
	height: 23%;
}
.page-product .card .card-body h6{
	font-weight: 300;
	width: 75%;
}
.page-product .card .card-body i{
	padding-left: 5%;
	color: orange;
	font-size: 11px;
}
.page-product  .hover{
	position: relative;
	opacity: 0;
	top: -100%;
	height: 77%;
	background: blue;
}
.page-product .card-row:hover .hover{ 
	transition: 0.3s;
	opacity: 0.2;
}
.page-product .card-row:hover img{
	transform: scale(1.2);
	transition: 0.4s;
}
.page-product nav{
	margin:auto;
}
.page-product .pagination  .next-page{
	position: relative;
	left: 20%;
	border-radius: 50%;
}
.page-product .pagination a{
	color: black;
}
/*ket thuc page product*/
/*bat dau page chi tiet san pham*/
.page-deltai_product{
    padding-bottom: 150px;
}
.page-deltai_product .container{
	margin-top: 140px;
}
.page-deltai_product .image{
	width: 100%;
	height: 800px;
	background: blue;
}
.page-deltai_product .header h3{
	font-weight: 400;
}
.page-deltai_product .header i{
	font-size: 13px;
	color: orange;
}
.page-deltai_product .footer select {
	text-transform: uppercase;
	border-radius: 0;
	height: 40px;
}
.page-deltai_product .footer .btn{
	border-radius: 0;
	background: none;
	height: 40px;
	width: 40px;
	border: 1px solid black;
}
.page-deltai_product .footer input{
	height: 40px;
	margin-left: -50px;
	margin-right: -50px;
}
.page-deltai_product .footer  .btn-submit{
	width: 180px;
	height: 60px;
	border-radius: 30px;
	background: black;
}
/*ket thuc page chi tiet san pham*/
/*bat dau page cart*/
.page-card{
	padding-bottom: 200px;
}
.page-card .container .table{
	margin-top: 120px;
}
.page-card .container table{
	overflow: hidden;
}
.page-card .container thead{
	background: black;
    color: white;
}
.page-card .container thead tr th{
	font-weight: 300;
	height: 70px;
	padding: 20px 10px;
}
.page-card .container tbody img{
	height: 300px;
	background:blue;
}
.page-card .container .card{
	height: 306px;
    border-radius: 0px;
    background: none;
    border: 1px solid gainsboro;
}
.page-card .container .button{
	border-radius: 30px;
}
/*ket thu page card*/
/*bat dau page checkout*/
.page-checkout{
	padding-bottom: 175px;
}
.page-checkout .billing{
	margin-top: 130px;
}
.page-checkout .billing input{
	height: 55px;
}
.page-checkout .billing .button{
	border-radius: 30px;
}
/*ket thuc page checkout*/
/*reposive thiết bị*/
@media only screen and (max-width:  320px){
  .page-clothing{
		position: relative;
		overflow: hidden;
	}
	.page-clothing .row-top .text{
		position: relative;
		left: 0%;
		top: 20%;
		width: 100%;
	}
	.page-clothing .row-bottom .image{
		margin-top: 0%;
	    height: 591px;
	}
	.page-clothing .row-bottom .text h3{
		margin-top: 80px;
	}
	
}
@media only screen and (max-width:  960px){
	.navbar .collapse{
		position: relative;
		left: 0%;
	}
	.navbar .collapse a{
		margin-left: 0;
		font-weight: normal;
	}
	.navbar .collapse a{
		font-weight: normal;
		font-family: open sans,Arial,sans-serif;
		text-transform: uppercase;
		color: black;
		font-style:normal;
		font-variant:normal;
		
	}
	.page-home .left .text .vr{
		display: none;
	}
}
