.ps{
	width: 100%;
	background: black;
}
.ps .container .icon{
	height: 22px;
	font-size: 11px;
	font-family: open sans,Arial,sans-serif;
	color: white;	
}

.navbar-brand{
	font-family: open sans,Arial,sans-serif;
	font-weight: 800;
}
.navbar .collapse{
	position: absolute;
	left: 55%;

}
.navbar .collapse a{
	font-size:11px;
	font-weight: 300;
	font-family: open sans,Arial,sans-serif;
	text-transform: uppercase;
	color: black;
	font-style:normal;
	font-variant:normal;
	margin-left: 23px;
}
.page-home{
	overflow: hidden;
	position: relative;
}
.page-home .left{
	width: 130%;
	z-index: 1;

}
.page-home .left .text{
	position: absolute;
	top: 12%;
	left: 16%;
	width: 80%;
}
.page-home .left .underlined{
	margin-left: -40px;
	width: 103px;
	height: 2px;
}
.page-home .left .text span{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 4px;
	font-weight: 200;
}
.page-home .left .text h1{
	 font-size: 46px;
    font-weight: 300;
}
.page-home .left .text .vr{
	position: absolute;
	margin-top: 26%;
	margin-left: -27%;

	transform: rotate(270deg);
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 4px;
	font-weight: 200;
}
.image{
	position: relative;
	z-index: -1;
	width: 130%;
	height: 590px;
}
.image img{
	width: 100%;
	height: 100%;
}
.page-bestter{
	position: relative;
}
.page-bestter .video{
	overflow: hidden;
	height: 790px;
}
.page-bestter .video img{
	width: 100%;
	height: 100%;
}
.page-bestter .video i{
	position: absolute;
	top: 40%;
	font-size: 120px;
	color: black;
	background: orange;
	left: 40%;
	border-radius: 50%;
}
.page-bestter .text h1{
    padding-top: 13%;
}
.page-bestter .item{
	font-size: 51px;
}
.page-bestter .item i{
	text-align: center;
	float: left;
}
.page-bestter .item .square{
	width: 36px;
    height: 42px;
    border: 1px solid black;
    margin: auto;
}
.page-bestter .item p{
	font-size: 16px;
}
.page-sellers{
	position: relative;
}
.page-sellers .title{
	margin-top: 130px;
}
.page-sellers .card-row{
	margin-top: 22px;
}
.page-sellers .card{
	width: 100%;
	height: 476px;
	border-radius:0px;
}
.page-sellers .card .img{
	height: 77%;
	overflow: hidden;
}
.page-sellers .card img{
	width: 100%;
	transform: scale(1);
	height: 100%;
}
.page-sellers .card .card-body{
	height: 23%;
}
.page-sellers .card .card-body h6{
	font-weight: 300;
	width: 75%;
}
.page-sellers .card .card-body i{
	color: orange;
	font-size: 11px;
}
.page-sellers  .hover{
	position: relative;
	opacity: 0;
	top: -100%;
	height: 77%;
	background: blue;
}
.page-sellers .card-row:hover .hover{ 
	transition: 0.3s;
	opacity: 0.2;
}


